* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  grid-template-columns: 1fr 30ch;
  gap: 1rem;
}

.plants {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20ch, 1fr));
  gap: 1ch;
}

.plants figure {
  font-size: 5rem;
  text-align: center;
}

.plant {
  display: grid;
  border: 2px solid black;
  padding: 1rem;
  gap: 1ch;
}